/* general */

@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Montserrat:wght@400;500;700;900&display=swap');
h1, .h1 {
    font-family: francois one;
    font-size: 72px;
}

h2 {
    font-family: francois one;
    font-size: 48px;
}

h3 {
    font-family: montserrat;
    font-size: 36px;
    font-weight: 900;
}

h4 {
    font-family: francois one;
    font-size: 34px;
}

p, th, td {
    font-family: montserrat;
    font-size: 14px;
    font-weight: regular;
}

hr {
    border: none;
    background-color: #FF6738;
}

.wrapperavecmargin {
    width: 1024px;
    margin: 40px auto;
}

.wrapper {
    width: 1024px;
    margin: 0 auto;
}

.float {
    float: left;
}

.floatr {
    float: right;
}

.clear {
    clear: both;
}

.bgorangepale {
    background-color: #FFD59E;
}

.bgorangefonce {
    background-color: #FF6738;
}

.orangefonce {
    color: #FF6738;
}

.linesmall {
    height: 9px;
    max-width: 1024px;
}

.linebig {
    height: 54px;
    max-width: 1024px;
}

.titleleft {
    padding: 0 20px 0 85px;
}

.titleright {
    padding: 0 85px 0 20px;
}

/* fin general */

/* header */

header {
    height: 147px;
}

header h1 {
    padding: 28px 68px 0 28px;
}

header h4 {
    padding-top: 34px;
}

header hr {
    margin-top: 15px;
}

/* fin header */

/* nav */

nav {
    height: 46px;
}

ul {
    padding: 14px 0 0 87px;
}

li {
    display: inline-block;
}

li a {
    font-family: montserrat;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    padding-right: 20px;
    text-decoration: none;
}

li:hover {
    text-decoration: underline;
    color: #fff;
}

li:hover:first-letter {
    color: #3c50d3;
    background-color: #FFD59E;
    text-decoration: underline;
    box-shadow: 1px 1px 1px black;
    text-shadow: none;
}

/* fin nav */

/* main top */

#imgterre {
    height: 300px;
    background-image: url("/img/earth-2254769_1280.jpg");
    background-position: -250px -325px;
}

#pourvous {
    height: 297px;
}

#imgaide {
    width: 327px;
    height: 297px;
    margin-right: 20px;
}

.pourvous {
    width: 677px;
    height: 297px;
}

.pourvous h3 {
    color: #ffa938;
    padding-right: 20px;
}

.pourvous p {
    line-height: 162.4%;
    padding: 10px 20px 0 0;
    width: 657px;
    text-align: justify;
}

.pourvous hr {
    margin-top: 20px;
    max-width: 1024px;
}

/* fin main top */

/* le fondateur */

#lefondateur {
    position: relative;
}

#lefondateur img {
    height: 364px;
}

#lefondateur h3 {
    position: absolute;
    right: 40px;
    top: 310px;
}

#sidebyside {
    height: 390px;
    padding: 40px 80px;
}

#lefondateur p {
    width: 390px;
    padding: 0 20px;
    text-align: justify;
    line-height: 162.4%;
}

/* fin le fondateur */

/* nos services */

#nosservices article>h3, p {
    width: 482px;
}

#nosservices article>h3 {
    padding: 40px 0 0 20px;
}

#nosservices article>p {
    text-align: justify;
    line-height: 162.4%;
    padding: 30px 20px 40px 20px;
}

#nosservices img {
    width: 502px;
    padding: 40px 0;
}

/* fin nos servicess */

/* nos tarifs */

table {
    border: 1px solid black;
    box-shadow: 5px 5px 10px #FF6738;
    margin: 40px 0;
    border-collapse: collapse;
}

th {
    border: 2px solid black;
    padding: 15px 10px;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    text-shadow: 2px 2px 5px black;
}

td {
    border: 1px solid black;
    padding: 10px;
}

tbody tr td:first-child {
    font-weight: 700;
    border: none;
    background-color: rgba(255, 213, 158, 0.4);
}

tbody td:nth-child(3n+1) {
    width: 100px;
}

tbody tr:nth-child(2n) {
    background-color: #f0f0f0;
}

tbody tr:nth-child(5n+1) {
    border: none;
    background-color: #FFD59E;
    max-height: 45px;
    text-align: center;
}

/* fin nos tarfis */

/* nous contacter */

form {
    padding: 0 20px;
}

input, textarea {
    display: block;
    margin-top: 40px;
    border: none;
    background-color: #FFD59E;
    border-radius: 5px;
    height: 66px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: medium;
    text-transform: uppercase;
}

#nom, #prenom {
    display: inline;
    margin: 20px 20px 0 0;
}

#nom {
    width: 360px;
}

#prenom {
    width: 570px;
}

#courriel, #telephone {
    width: 656px;
}

textarea {
    height: 285px;
    width: 960px;
}

::placeholder {
    color: #b7b7b7;
    padding: 20px;
}

button {
    border: none;
    width: 310px;
    height: 86px;
    border-radius: 5px;
    font-family: montserrat;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin: 20px 0 0 627px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* fin nous contacter */

/* footer */

#bgfooter {
    background-color: #c4c4c4;
    height: 294px;
}

footer h2 {
    padding: 40px 80px 20px 80px;
}

footer hr {
    margin: 50px 0 0 0;
    width: 602px;
}

address {
    font-family: montserrat;
    font-size: 18px;
    font-weight: bold;
    padding-left: 82px;
}

address a {
    text-decoration: none;
    color: black;
}

address a:visited{
    text-decoration: none;
    color: black;
}

/* fin footer */